<nav class="navbar">
  <div class="container">
    <a class="brand" [routerLink]="['/home']">ITS-CLASS</a>

    <div class="links">
      <a [routerLink]="['/home']">Home</a>
      <a *ngIf="(currentUser$ | async)?.role === 'referente'" [routerLink]="['/corsi']">Corsi</a>
      <a *ngIf="(currentUser$ | async)?.role === 'referente'" [routerLink]="['/assegnazioni']">Assegnazioni</a>
      <a *ngIf="(currentUser$ | async)?.role === 'referente'" [routerLink]="['/analytics']">Statistiche</a>
    </div>

    <div class="right">
      <ng-container *ngIf="(currentUser$ | async) as currentUser; else login">
        <app-nav-user [user]="currentUser" (logout)="logout()"></app-nav-user>
      </ng-container>
      <ng-template #login>
        <a class="login" [routerLink]="['/login']">Login</a>
      </ng-template>
    </div>
  </div>
</nav>
